/* Contact Form Styling */
.contact-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #434190;
}

.navbar {
    background-color: #e91e63; /* Pink */
    padding: 15px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    color: white;
    padding-left: 100px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    padding-right: 30px;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #f1f8e9; /* Light green */
}

h1 {
    color: #4a148c; /* Purple */
}